.todo-container {
  border: 1px solid blue;
  width: 70%;
  margin: auto;
  background-color: yellow;
  height: 50px;
  margin-top: 2em;
}
.App {
  text-align: center;
}
.add-button {
  margin-left: 5px;
}
