.App {
  text-align: center;
}

.x-delete {
  color: red;
  margin-right: 1em;
    margin-left: -6em;
}
.x-delete:hover {
  color: darkred;
  cursor: pointer;
}
.list-item {
  list-style-type: none;
  background-color: yellow;
  width: 40%;
  height: 50px;
  margin: 2em
}
/* .list-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  border: 1px solid blue;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
} */
