.todo-container {
  border: 1px solid blue;
  width: 70%;
  margin: auto;
  background-color: yellow;
  height: 50px;
  margin-top: 2em;
}
.App {
  text-align: center;
}
.add-button {
  margin-left: 5px;
}
.x-delete {
  color: red;
  margin-right: 1em;
}
.x-delete:hover {
  color: darkred;
  cursor: pointer;
}
.list-item {
  list-style-type: none;
}
